<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Handle，映射"/firstController"请求 -->
    <bean name="/firstController" class="com.example.controller.AddMajorController"/>
    <!-- 配置Handle，映射"/hello"请求 -->
    <bean name="/hello" class="com.example.controller.SaveMajorController"/>

    <!-- 处理器映射器将beand的name作为url进行查找，需要在配置Handle时指定name(即url) -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!-- SimpleControllerHandleAdapter 是一个处理器适配器，所有处理器适配器都要实现HandleAdapter街口 -->
    <bean class=" org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!-- 处理器映射器将bean的name作为url进行查找，需要在配置Handle时指定name(即url) -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

</beans>
