<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 将指定类配置给Spring，让Spring创建其对象的实例 -->
	<bean id="freshmanDao" class="cn.edu.seig.service.impl.FreshmanServiceImpl"></bean>
	<import resource="bean-autowire.xml"></import>
	<context:component-scan base-package="cn.edu.seig.service.impl"></context:component-scan>
	<context:component-scan base-package="cn.edu.seig.mapper"></context:component-scan>
</beans>
